<html ng-app="app">
<head>
<link rel="stylesheet" href="http://rabo.demo123.nl/style.css">
</head>
<body ng-controller="AppController">

<img src="http://rabo.demo123.nl/rabobank.jpg">

<h1>Transacties</h1>
<p>Totaal: {{total|currency:"&euro; "}}</p>
<input ng-model="name" placeholder="naam">
<input ng-model="amount" placeholder="bedrag">
<button ng-click="addItem()">toevoegen</button>

<ul>
  <li ng-repeat="item in items">
    {{item.name}}
    <span>{{item.amount|currency:"&euro; "}}</span>
  </li>
</ul>

<script src="http://rabo.demo123.nl/scripts.js"></script>
<script>
var app = angular.module('app', ['firebase']);
app.controller('AppController', function($scope, $firebase){
    var db = new Firebase('https://rabo.firebaseio.com/');
    $scope.items = $firebase(db);
    $scope.total = 0;
    $scope.addItem = function(){
        var newItem = {
            name: $scope.name,
            amount: $scope.amount
        }
        $scope.total += parseInt($scope.amount);
        $scope.items.$add(newItem);
        $scope.name = '';
        $scope.amount = '';
    };
});
</script>
</body>
</html>