<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Rabo demo</title>
<link rel="stylesheet" href="http://rabo.demo123.nl/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-controller="AppController">

<img src="http://rabo.demo123.nl/rabobank.jpg">

<h1>Transacties</h1>
<p>Totaal: {{total|currency:"&euro; "}}</p>
<input ng-model="name" placeholder="naam">
<input ng-model="amount" placeholder="bedrag">
<button ng-click="addItem()" ng-disabled="isDisabled()">toevoegen</button>

<ul>
  <li ng-repeat="item in items">
    {{item.name}}
    <span>{{item.amount|currency:"&euro; "}}</span>
  </li>
</ul>
<script src="http://rabo.demo123.nl/scripts.js"></script>
<script>
var app = angular.module('app', ['firebase']);
app.controller('AppController', function($scope, $firebase){
    
    var db = new Firebase('https://rabo.firebaseio.com/demo123');
    $scope.items = $firebase(db);
    $scope.total = 0;
    
    $scope.addItem = function(){
        var newItem = {
            name: $scope.name,
            amount: $scope.amount
        }
        $scope.items.$add(newItem);
        $scope.name = '';
        $scope.amount = '';
    };
    
    $scope.isDisabled = function(){
        return !$scope.amount || !$scope.name;
    };

    db.on('child_added', function(snapshot){
        $scope.total += parseInt(snapshot.val().amount) || 0;
    });

    db.on('child_removed', function(snapshot){
        $scope.total -= parseInt(snapshot.val().amount) || 0;
    });
    
});
</script>
</body>
</html>
